{#
  This file is part of VisualLie.
  
  Copyright (C) 2024 Hannes Malcha 
  
  VisualLie is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  VisualLie is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
  
{#
  VisualLie is a web app to visualize the root system of the
  Feingold-Frenkel algebra.
  
  This file contains part of the text displayed around the plot.
#}


<p>
  VisualLie is a web app to visualize the root system of the
  Feingold-Frenkel algebra.
</p>
<p>
  The Feingold-Frenkel algebra $\mathcal{F}$ (or $AE_3$ or 
  $A_1^{++}$) is a rank 3 hyperbolic Kac-Moody algebra associated
  with the indefinite Cartan matrix

  \begin{align}\label{eq:CM}
  A = (a_{ij}) =  \begin{pmatrix}2 & -1 & 0 \\ -1 & 2 & -2 \\ 0 & -2 & 2 \end{pmatrix} \, .
  \end{align}

  Its study was pioneered in [<a href="#FF">1</a>]. Below the figure, we
  give a more comprehensive introduction to the Feingold-Frenkel algebra
  $\mathcal{F}$ and, in particular, highlight some of the properties of
  its root system.
</p>
<p>
  The figure shows the root system of $\mathcal{F}$ for one level at a
  time. The notion of level is explained below the figure. The figure is
  fully interactive. Hover over a root to see its root vector, norm, and
  multiplicity. Click on a root to see its Weyl orbit. Use the bokeh plot
  tools on the right to pan, zoom, save, or reset the plot. Use the selectors,
  checkboxes, and buttons on the left to change the level of the visualized
  roots and turn on additional plot features.
</p>