{#
    This file is part of VisualLie.
    
    Copyright (C) 2024 Hannes Malcha 
    
    VisualLie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    VisualLie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
    
{#
    VisualLie is a web app to visualize the root system of the
    Feingold-Frenkel algebra.
    
    This file contains part of the text displayed around the plot.
#}

<p>
    In the following, we mostly use the notation and conventions of
    [<a href="#KacBook">2</a>]. The matrix $\small{\eqref{eq:CM}}$ is a so-called generalized
    Cartan matrix. As such, it satisfies the following conditions:
</p>
    <ol>
        <li>$a_{ii} = 2$ for $i = -1, 0, 1$.</li>
        <li>$a_{ij}$ are nonpositive integers for $i \not= j$.</li>
        <li>$a_{ij}= 0$ implies $a_{ji} = 0$.</li>
    </ol>
<p>
    We call a Cartan matrix indecomposable if there is no decomposition of
    the sets of indices $I$ into a disjoint union of non-empty subsets $I_1$
    and $I_2$ such that $a_{ij} = 0$ for all $i$ in $I_1$ and $j$ in $I_2$.
    A Cartan matrix $C$ is called symmetrizable if there exists a diagonal matrix
    $D$ (with positive integer entries) and a symmetric matrix $S$ such that $C = DS$.
    Assuming that C is symmetrizable and indecomposable, there are three types of
    generalized Cartan matrices:
</p>
    <ul>
        <li>If $S$ is positive definite $C$ is of finite type.</li>
        <li>If $S$ is positive semi-definite $C$ is of affine type.</li>
        <li>If $S$ is indefinite $C$ is of indefinite type.</li>
    </ul>
<p>
    For Cartan matrices of indefinite type, there is a special subclass. A generalized
    Cartan matrix is said to be of hyperbolic type if it is of indefinite type, but for
    any proper subset of $I$, the corresponding submatrix is of finite or affine type.
    In particular, $\small{\eqref{eq:CM}}$ is of hyperbolic type.
</p>
<p>
    A realization of $\small{\eqref{eq:CM}}$ is a triple $(\mathfrak{h}, \Pi, \Pi^\vee)$, where
    $\mathfrak{h}$ is a complex vector space and 
    $\Pi = \{ \boldsymbol{\alpha}_{-1}, \boldsymbol{\alpha}_0, \boldsymbol{\alpha}_1 \} \subset \mathfrak{h}^\ast$
    and
    $\Pi^\vee = \{ \boldsymbol{\alpha}_{-1}^\vee, \boldsymbol{\alpha}_0^\vee, \boldsymbol{\alpha}_1^\vee \} \subset \mathfrak{h}$
    are indexed subsets in $\mathfrak{h}^\ast$ and $\mathfrak{h}$ respectively,
    satisfying the following conditions:
</p>
    <ol>
        <li>Both sets $\Pi$ and $\Pi^\vee$ are linearly independent.</li>
        <li>$\langle \boldsymbol{\alpha}_i , \boldsymbol{\alpha}_j^\vee \rangle = a_{ij}$ for $i,j = -1, 0, 1$.</li>
        <li>$\mathrm{rank} \, \mathcal{F}  + \mathrm{dim} \, \mathfrak{h} = 6$.</li>
    </ol>
<p>
    Here, $\langle \cdot, \cdot \rangle$ is the usual pairing between a vector space and
    its dual. The elements of $\Pi$ are called simple roots, and the elements of $\Pi^\vee$
    are called simple co-roots. They form the root (respectively co-root) basis. In the
    following, we choose

    \begin{align}\label{eq:SimpleRoots}
    \boldsymbol{\alpha}_{-1} = (1,0,0) \, , \quad \boldsymbol{\alpha}_0 = (0,1,0)\, ,
    \quad \boldsymbol{\alpha}_1=(0,0,1)
    \end{align}

    and find

    \begin{align}
    \boldsymbol{\alpha}_{-1}^\vee = (2,-1,0) \, , \quad \boldsymbol{\alpha}_0^\vee = (-1,2,-2)\, ,
    \quad \boldsymbol{\alpha}_1^\vee =(0,-2,2) \, .
    \end{align}

    $Q = \mathbb{Z}_{-1} \boldsymbol{\alpha}_{-1} + \mathbb{Z}_0 \boldsymbol{\alpha}_0 + \mathbb{Z}_1 \boldsymbol{\alpha}_1$
    is called the root lattice of $\mathcal{F}$. 
</p>

<p>
    Let $\mathfrak{g} = \mathfrak{g}(A)$ be a hyperbolic Kac-moody algebra associated with the Cartan matrix
    $\small{\eqref{eq:CM}}$. Then, its generators $\{e_i, f_i, h_i\}$ obey the commutation relations

    \begin{align}
    \begin{aligned}
    &[h_i, h_j] = 0  \, , \quad \quad \quad [e_i,f_j] = \delta_{ij} h_i\\
    &[h_i, e_j] = a_{ij} \,  e_j \,  ,  \quad \ \, [h_i,f_j] = - a_{ij} \, f_j \, ,  \\[1.5ex]
    &\mathrm{ad}(e_i)^{1-a_{ij}}(e_j) = \mathrm{ad}(f_i)^{1-a_{ij}}(f_j) ,= 0\, .
    \end{aligned}
    \end{align}

    In particular $h_i \in \mathfrak{h}$ for $i=-1,0,1$. The algebra $\mathfrak{g}(A)$
    can then be decomposed into root spaces with respect to $\mathfrak{h}$

    \begin{align}
    \mathfrak{g}(A) = \bigoplus_{\boldsymbol{\alpha} \in Q} \mathfrak{g}_{\boldsymbol{\alpha}} \, .
    \end{align}

    Here 
    $\mathfrak{g}_{\boldsymbol{\alpha}} = \{ x \in \mathfrak{g}(A) \ | \ [h,x] = \alpha(h) x \ \text{for all } h \in \mathfrak{h}\}$
    is the root space attached to $\boldsymbol{\alpha}$, with $\mathfrak{g}_0 = \mathfrak{h}$.
    The number $\alpha = \mathrm{dim}(\mathfrak{g}_{\boldsymbol{\alpha}})$ is called the
    multiplicity of $\boldsymbol{\alpha}$. An element $\boldsymbol{\alpha} \in Q$ is called
    a root if $\boldsymbol{\alpha} \not=0$ and $\mathrm{mult}(\boldsymbol{\alpha}) \not = 0$.
    We denote the set of all roots by $\Delta$. Every root is either positive
    (i.e. $\boldsymbol{\alpha} > 0$) or negative  (i.e. $\boldsymbol{\alpha} < 0$). Hence,
    the set of all roots $\Delta$ can be written as the disjoint union of the set of positive
    roots $\Delta_+$ and the set of negative roots $\Delta_-$. The simple roots are in $\Delta_+$,
    and they all have multiplicity one. 
</p>