{#
  This file is part of VisualLie.
  
  Copyright (C) 2024 Hannes Malcha 
  
  VisualLie is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  VisualLie is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
  
{#
  VisualLie is a web app to visualize the root system of the
  Feingold-Frenkel algebra.
  
  This file contains part of the text displayed around the plots.
#}


<p>
  Instead of just plotting one level at the time we can also 
  plot the entire root system at once. The resulting picture for 
  the levels 1 to 3 and up to depth 15 is shown below. The roots 
  are colored according to their level. Also this plot is fully 
  interactive. Use your mouse to move around the root system and 
  to zoom in and out. With the button on the right hand side a 
  hyperboloid can be added to the picture. Notice that the entire 
  root system fits into the hyperboloid. The reason for this is 
  the same why all the Weyl orbits above are parabolas. We explain 
  it in a bit more detail in section <a href="#Weyl_Group">6</a> below.
</p>