{#
    This file is part of VisualLie.
    
    Copyright (C) 2024 Hannes Malcha 
    
    VisualLie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    VisualLie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
    
{#
    VisualLie is a web app to visualize the root system of the
    Feingold-Frenkel algebra.
    
    This file contains part of the text displayed around the plot.
#}

<p>
    A $\mathfrak{g}(A)$-module $V$ is called $\mathfrak{h}$-diagonalizable
    if $V = \bigoplus_{\lambda \in \mathfrak{h}^\ast} V_\lambda$, where
    $V_\lambda = \{ v \in V \ | \ h(v) = \langle \lambda, h \rangle v \ \text{for} \ h \in \mathfrak{h} \}$.
    Then $V_\lambda$ is called weight space, $\lambda \in \mathfrak{h}^\ast$
    is called a weight if $V_\lambda \not= 0$, and $\mathrm{dim}(V_\lambda)$
    is called the multiplicity of $\lambda$ and is denoted by
    $\mathrm{mult}_V(\lambda)$. By
    $P(V) = \{\lambda \in \mathfrak{h}^\ast \ | \ V_\lambda \not=0\}$
    we denote the set of weights of $V$.
</p>
<p>
    A module $V$ is called a highest weight module with highest weight
    $\boldsymbol{\Lambda} \in \mathfrak{h}^\ast$ if there exist a non-zero
    vector $v_{\boldsymbol{\Lambda}} \in V$ such that 
    $e_i(v_{\boldsymbol{\Lambda}}) = 0$, 
    $h_i(v_{\boldsymbol{\Lambda}}) = \boldsymbol{\Lambda}(h) v_{\boldsymbol{\Lambda}}$
    for all $i = -1, 0, 1$ and if $U(\mathfrak{g}(A))(v_{\boldsymbol{\Lambda}}) = V$,
    where $U$ is the universal enveloping algebra. The vector $v_{\boldsymbol{\Lambda}}$
    is called a highest weight vector.
</p>
<p>
    An $\mathfrak{h}$-diagonizable module $V$ over a Kac-Moody algebra
    $\mathfrak{g}(A)$ is called integrable if all $e_i$ and $f_i$ ($i=-1,0,1$)
    are locally nilpotent on $V$. In the following, we denote integrable
    highest-weight modules by $L(\boldsymbol{\Lambda})$. It can be shown
    that the $\mathfrak{g}(A)$-module $L(\boldsymbol{\Lambda})$ is integrable
    if and only if $\boldsymbol{\Lambda} \in P_+$ with 
    $P_+ = \{ \lambda \in \mathfrak{h}^\ast \ | \ \langle \lambda , \boldsymbol{\alpha}_i^\vee \rangle \in \mathbb{Z}_{\ge 0} \ \text{for all} \ i = -1, 0, 1\}$. 
</p>