{#
    This file is part of VisualLie.
    
    Copyright (C) 2024 Hannes Malcha 
    
    VisualLie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    VisualLie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
    
{#
    VisualLie is a web app to visualize the root system of the
    Feingold-Frenkel algebra.
    
    This file contains part of the text displayed around the plots.
#}

<p>
    To classify the integrable highest weight representations,
    we introduce the fundamental weights $\boldsymbol{\Lambda}_i$
    satisfying
    $\langle \boldsymbol{\Lambda}_i , \boldsymbol{\alpha}_j^\vee \rangle = \delta_{ij}$
    such that
    
    \begin{align}
    \boldsymbol{\Lambda}_{-1} = - \boldsymbol{\delta} \, , 
    \quad \boldsymbol{\Lambda}_0 = - \boldsymbol{\alpha}_{-1} - 2 \boldsymbol{\delta} \, ,
    \quad \boldsymbol{\Lambda}_1 = - \boldsymbol{\alpha}_{-1} - 2 \boldsymbol{\delta} + \frac{1}{2} \boldsymbol{\alpha}_1 \, ,
    \end{align}
    
    where $\boldsymbol{\delta} = \boldsymbol{\alpha}_0 + \boldsymbol{\alpha}_1$
    is the so-called affine null root. It follows that the level $\ell$ of a
    root $\boldsymbol{\alpha}$ is $\ell =  (\boldsymbol{\alpha}, \boldsymbol{\delta})$.
    The fundamental weights form a basis of the weight lattice
    $P = \mathbb{Z}_{-1} \boldsymbol{\Lambda}_{-1} + \mathbb{Z}_0 \boldsymbol{\Lambda}_0 + \mathbb{Z}_1 \boldsymbol{\Lambda}_1$.
    The highest weight modules at level $\ell$ are then given by
    
    \begin{align}
    L(\boldsymbol{\Lambda}) = L(p \boldsymbol{\Lambda}_0 + 2 q \boldsymbol{\Lambda}_1 + r \boldsymbol{\Lambda}_{-1}) 
    \quad \text{with} \quad p + 2q = \ell \quad \text{and} \quad p,q,r \in \mathbb{Z}_{\ge 0} \, .
    \end{align}

    Here we have $2q$ so that $\boldsymbol{\Lambda} \in Q$. We show that
    $L(\boldsymbol{\Lambda})$ is integrable and that the highest weight
    $\boldsymbol{\Lambda} \in \Delta$. Clearly $\boldsymbol{\Lambda} \in \mathfrak{h}^\ast$.
    Moreover, $\langle \boldsymbol{\Lambda} , \boldsymbol{\alpha}_i^\vee \rangle \in \mathbb{Z}_{\ge 0}$
    because $p,q,r \in \mathbb{Z}_{\ge 0}$. Finally it is not hard to check that $|\boldsymbol{\Lambda}| \le 0$,
    hence $\boldsymbol{\Lambda} \in \Delta$. Since the fundamental weights form a basis of the weight lattice,
    these are, in fact, all the highest weight modules at level $\ell$.
</p>