{#
    This file is part of VisualLie.
    
    Copyright (C) 2024 Hannes Malcha 
    
    VisualLie is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    VisualLie is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with VisualLie.  If not, see <https://www.gnu.org/licenses/>.
#}
    
{#
    VisualLie is a web app to visualize the root system of the
    Feingold-Frenkel algebra.
    
    This file contains part of the text displayed around the plots.
#}

<ul class="bracketed-list">
    <li id="FF">
        A.J. Feingold and I.B. Frenkel, 
        <i>A hyperbolic Kac-Moody algebra and the theory of Siegel modular forms of genus 2</i>,
        <a href="https://doi.org/10.1007/BF01457086">Math. Ann. <b>263</b> (1983) 87 - 144</a>.
    </li>
    <li id="KacBook">
        V.G. Kac, 
        <i>Infinite dimensional Lie algebras</i>,
        <a href="https://doi.org/10.1017/CBO9780511626234">3rd ed. Cambridge University Press; 1990</a>.
    </li>
    <li id="Kac">
        V.G. Kac, 
        <i>Infinite-dimensioned Lie algebras and Dedekind's $\eta$-function</i>,
        <a href="https://doi.org/10.1007/BF02028313">Funct Anal Its Appl 8, 68–70 (1974)</a>.
    </li>
    <li id="BB">
        M. Bauer and D. Bernard,
        <i>On root multiplicities of some hyperbolic Kac-Moody algebras</i>,
        <a href="https://doi.org/10.1023/A:1007317602691">Lett. Math. Phys. <b>42</b> (1997), 153-166</a>,
        <a href="https://arxiv.org/abs/hep-th/9612210">arXiv:hep-th/9612210</a>.
    </li>
</ul>